<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to treegre&trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/font-awesome-ie7.min.css" rel="stylesheet">
    <link href="/css/fontomizer.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
  </head>

  <body style="padding-top: 25px">
    <a href="https://bitbucket.org/sunstriketeam/treegre" style="position:absolute;top:0%;right:0%;">
      <img src="/img/bitbucket-ribbon.png" />
    </a>
    <div class="row">
      <div class="container">
          <div class="span11 well">
            <div class="row">
              <div class="span8">
                <h2>What is treegre&trade;?</h2>
                <p>
                  <strong class="text-info">treegre&trade;</strong> is a chat server created by <a href="https://bitbucket.org/sunstriketeam/">Sun Strike Team</a>. It foccused on creating a simple and fast application.Our project is using these technologies:
                  <dl>
                    <dt><a href="http://nodejs.org/">Node.js</a></dt>
                    <dd>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</dd>
                    <dt><a href="http://expressjs.com/">ExpressJS</a></dt>
                    <dd>ExpressJS is a high class web development framework built on top of Node.js. It helps developers build web applications using a simple DSL for handling routes, as well as extending standard Node.js toolkit with useful methods to make our lifes easier.</dd>
                    <dt><a href="http://socket.io/">Socket.IO</a></dt>
                    <dd>Socket.IO aims to make realtime apps possible in every browser and mobile device, blurring the differences between the different transport mechanisms. It's care-free realtime 100% in JavaScript.</dd>
                    <dt><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></dt>
                    <dd>Bootstrap is a CSS Framework it's sleek, intuitive, and powerful front-end framework for faster and easier web development.</dd>
                    <dt><a href="http://embeddedjs.com/">EJS</a></dt>
                    <dd>EJS is Embedded JavaScript, it's a templating engine. EJS cleans the HTML out of your JavaScript with client side templates. After EJS gets its rubber gloves on dirty code, you'll feel organized and uncluttered.</dd>
                    <dt><a href="http://documentup.com/andris9/nodemailer/">NodeMailer</a></dt>
                    <dd>Nodemailer is an easy to use module to send e-mails with Node.JS (using SMTP or sendmail or Amazon SES) and is unicode friendly - You can use any characters you like ✔</dd>
                  </dl>
                  This project is under construction, so the application still in unstable condition. Please report any bug to <a href="mailto:sunstriketeam@gmail.com">Sun Strike Team</a>.
                </p>
              </div>
              <div class="span3">
                <h2 class="emoticon">Come and try!</h2>
                <p>
                  Now let's chat and get some friends inside!
                </p>
                <a class="btn btn-info btn-block" href="login/"><i class="icon-signin"></i> Sign in</a>
                <a class="btn btn-warning btn-block" href="register/"><i class="icon-ok-sign"></i> Register</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Le javascript
    =============================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
  </body>
</html>