<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/fontomizer.css" rel="stylesheet">
    <link rel="shortcut icon" href="/ico/favicon.ico">
  </head>
  <body>
    <center style="padding-top: 10px">
      <div class="container well">
        <div><h1 id="clock">Please wait...</h1></div>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
    </center>
    <script src="/js/jquery.js"></script>
    <script src="/js/custom/progress.js"></script>
  </body>
</html>