<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/css/fontomizer.css" rel="stylesheet">
	<link rel="shortcut icon" href="/ico/favicon.ico">
</head>
<body style="padding-top: 10px">
	<div class="container well">
		<h3>Register</h3>
		<form class="form-horizontal" id="register" method="POST" action="">
			<div class="control-group">
				<label class="control-label" for="newUser-name">Full Name</label>
				<div class="controls">
					<input id="newUser-name"class="input-xlarge" type="text" name="name" placeholder="Full Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newUser-username">User Name</label>
				<div class="controls">
					<input id="newUser-username" class="input-small" type="text" name="username" placeholder="User Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newUser-email">Email</label>
				<div class="controls">
					<input id="newUser-email" class="input-large" type="text" name="email" placeholder="username@domain.com">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newUser-password">Password</label>
				<div class="controls">
					<input id="newUser-password" class="input-large" type="password" name="verPassword" placeholder="Password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newUser-verPassword">Re-Type Password</label>
				<div class="controls">
					<input id="newUser-verPassword" class="input-large" type="password" name="password" placeholder="Verify your password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="recaptcha">Re-Captcha</label>
				<div class="controls" id="recaptcha">
					<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LfxsdASAAAAABNyVdf4R558CeakHBGKb7j6CQzl"></script>
				</div>
			</div>
			<button type="submit" class="btn btn-info" href="#">
				<i class="icon-thumbs-up"></i> Add New User
			</button>
			<a id="cancelButton" class="btn btn-danger" href="#cancel"><i class="icon-thumbs-down"></i> Cancel</a>
		</form>
		<div id="alert" class="alert alert-block alert-error fade in">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4 class="alert-heading">Oh snap! You got an error!</h4>
		  <div id="alertMessage"></div>
		</div>
	</div>
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.js"></script>
	<script src="/js/custom/register.js"></script>
</body>
</html>